.img-container img{
    width: 600px;
    height: 600px;
}

.home-text-title{
    font-size: 55px;
}

.let-your{
    background-color: rgba(0, 0, 0, 0.873);
    color: white;
    padding: 0 15px;
    border-radius: 5px;
}
.beauty-glow{
    color: rgb(238, 68, 153);
}

.shop-now-btn{
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color:rgb(238, 68, 153);
}

.shop-now-btn:hover{
    background-color:rgb(255, 131, 193);
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.see-all-reviews-btn{
    font-weight: bold;
    margin-top: 25px;
    padding: 8px 15px;
    border:none;
    border-radius: 7px;
    color: white;
    background-color:rgb(238, 68, 153);
}

.see-all-reviews-btn:hover{
    background-color:rgb(255, 131, 193);
}